@font-face {
  font-family: "Clan";
  src: url(../fonts/ClanOT-NarrowBlack.ttf);
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;

  padding: 0;

  width: 100%;

  min-width: 130px;

  height: 100%;

  overflow: hidden;

  cursor: pointer;
}

div {
  position: absolute;
}

.block {
  width: 100%;
  min-width: 130px;
  height: 30%;
  position: fixed;
  top: 35%;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  max-width: 520px;
  max-height: 1200px;
  z-index: 100;
}

.container,
.container1 {
  width: 100%;
  min-width: 130px;
  height: 100%;
  top: 0px;
  right: 0;
  overflow: hidden;
  cursor: pointer;
  max-width: 480px;
  max-height: 1200px;
}

.bg {
  position: absolute;
  background-color: #ffed00;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
}

.bg1 {
  position: absolute;

  background-color: #ffed00;

  background-size: 100% 100%;

  background-repeat: no-repeat;

  height: 100%;

  top: 0;

  right: 0;

  overflow: hidden;

  position: fixed;

  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}

@keyframes bg1 {
  0% {
    clip-path: polygon(0 0, 500px 0, 500px 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 0, 600px 0, 600px 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(0 0, 500px 0, 500px 100%, 0% 100%);
  }
}

@keyframes bg4k {
  0% {
    clip-path: polygon(0 0, 83% 0, 83% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 0, 84.5% 0, 84.5% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(0 0, 83% 0, 83% 100%, 0% 100%);
  }
}

.back {
  width: 100%;
  height: 100vh;
  background-image: url(../img/right-bg.jpg);
  background-position: 100% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.ball {
  background: url(../img/icon.png) 50% 50% no-repeat;

  background-size: contain;

  width: 60px;

  height: 60px;

  border-radius: 50%;

  z-index: 100000;

  cursor: pointer;

  top: 180px;
}

.ballActive {
  animation-name: ball;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes ball {
  0% {
    transform: translateX(-7px);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-7px);
  }
}

.line {
  width: 5px;
  height: 100%;
  background-color: #fff;
  transform: translateX(30px);
  z-index: 100000;
}

.lineActive {
  animation-name: line;

  animation-duration: 1s;

  animation-iteration-count: infinite;

  animation-timing-function: linear;
}

@keyframes line {
  0% {
    transform: translateX(23px);
  }

  50% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(23px);
  }
}

.cover {
  right: 0;
}

.clickArea {
  width: 100%;

  height: 100%;

  top: 250px;

  z-index: 100;
}

.clickAreaTop {
  width: 100%;

  height: 180px;

  top: 0;

  z-index: 100;
}

.slider {
  width: 100%;
  height: 100%;
}

.slider__item,
.slick-list,
.slick-track,
.slick-slide {
  position: absolute;
}
.slick-slide div {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.slider__text {
  position: absolute;
  font-size: 9vw;
  font-family: "Clan";
  top: 5%;
  left: 10%;
}

.slider__img {
  position: absolute;
  width: 45vw;
  top: 40%;
  right: 20%;
  z-index: 10;
}
.slider__phone {
  position: absolute;
  width: 25vw;
  top: 52%;
  right: 58%;
}
.btn {
  position: absolute;
  bottom: 5%;
  left: 10%;
  background: #4b8969;
  width: 80%;
  height: 40px;
  color: #fff;
  font-family: "Clan";
  text-align: center;
  border: 0;
}

#hellopreloader > p {
  display: none;
}

#hellopreloader_preload {
  display: block;

  position: fixed;

  z-index: 9999999;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: #222222 url(../img/audio.svg) center center no-repeat;

  background-size: 41px;
}

@media screen and (max-width: 313px) {
  .btnFalse,
  .btnTrue {
    width: 11%;

    height: 4%;

    min-width: 138px;
  }
}

@media screen and (max-width: 176px) {
  .btnFalse,
  .btnTrue {
    width: 11%;

    height: 3%;

    min-width: 94px;
  }
}

@media screen and (max-width: 130px) {
  .btnFalse {
    font-size: 10px;
  }

  .btnTrue {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) {
  .btnFalse {
    font-size: 22px;
  }

  .btnTrue {
    font-size: 22px;
  }
}

.unVisible {
  visibility: hidden;
}

.static {
  position: static;
}

@media screen and (max-device-width: 1920px){
 .slider__phone {
  position: absolute;
  width: 25vw;
  top: 52%;
  right: 58%;
}
}

@media screen and (max-device-width: 1440px){
  .back {
    width: 100%;
    height: 100vh;
    background-image: url(../img/right-bg.jpg);
    background-position: 79% 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }
}