html,
body {
  margin: 0;

  padding: 0;

  width: 100%;

  height: 100%;

  cursor: pointer;

  overflow: hidden;
}

div {
  position: absolute;
}

.container {
  width: 100%;

  max-width: 1280px;

  min-width: 850px;

  height: 250px;

  top: 0px;

  left: 0;

  right: 0;

  margin: auto;

  overflow: hidden;
}

.logo-black {
  width: 23%;
  height: 30.5%;
  background-image: url(../img/logo-black.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 40%;
  left: 35%;
  transform: translate(-50%);
}
.logo-yellow {
  width: 23%;
  height: 30.5%;
  background-image: url(../img/logo-yellow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 40%;
  left: 35%;
  transform: translate(-50%);
}

.bg {
  position: absolute;
  background-color: #ffed00;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 50% 100%;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  position: fixed;
}
.bg__img{
  width: 50vw;
  height: 100%;
  position: absolute;
  right: 152.5px;
  pointer-events: none;
}
.bg1__img{
  width: 50vw;
  height: 100%;
  position: absolute;
  left: 168px;
  pointer-events: none;
}
.bg1 {
  position: absolute;
  background-color: #ffed00;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 50% 100%;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  position: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.bg1Active{
  animation-name: bg1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bg1 {
  0%{
      clip-path: polygon(0 0, 633px 0, 633px 100%, 0% 100%);
  }
  50%{
      clip-path: polygon(0 0, 733px 0, 733px 100%, 0% 100%);
  }
  100%{
      clip-path: polygon(0 0, 633px 0, 633px 100%, 0% 100%);
  }
}

.ball{
  background: url(../img/icon.png) 50% 50% no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 100000;
  cursor: pointer;
  top: 180px;
}

.ballActive{
  animation-name: ball;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes ball {
  0%{
      transform: translateX(0px);
  }
  50%{
      transform: translateX(100px);
  }
  100%{
      transform: translateX(0px);
  }
}

.line{
  width: 3px;
  height: 100%;
  z-index: 100;
  background-color: #fff;
  transform: translateX(30px);
}

.lineActive{
  animation-name: line;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes line {
  0%{
      transform: translateX(30px);
  }
  50%{
      transform: translateX(130px);
  }
  100%{
      transform: translateX(30px);
  }
}

.cover{
  transform: translate(-50%);
}

.clickAreaTop {
  width: 100%;

  height: 180px;

  top: 0;

  z-index: 100;
}

#hellopreloader > p {
  display: none;
}

#hellopreloader_preload {
  display: block;

  position: fixed;

  z-index: 99999;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: #222222 url(../img/audio.svg) center center no-repeat;

  background-size: 41px;
}

/* @media screen and (max-device-width: 1920px){
  .bg {
    position: absolute;
    background-color: #ffed00;
    background-image: url(../img/right-bg.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 50% 100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: fixed;
  }
  
  .bg1 {
    position: absolute;
    background-color: #ffed00;
    background-image: url(../img/left-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0% 29%;
    background-size: 50%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
} */

/* 



 */


/* 


@media screen and (min-device-width: 1920px){
  .bg {
    position: absolute;
    background-color: #ffed00;
    background-image: url(../img/right-bg.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 50% 100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: fixed;
  }
  
  .bg1 {
    position: absolute;
    background-color: #ffed00;
    background-image: url(../img/left-bg.jpg);
    background-repeat: no-repeat;
    background-position:  0% 30%;
    background-size: 50%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}


@media screen and (max-device-width: 1440px){
  .bg {
    position: absolute;
    background-color: #ffed00;
    background-image: url(../img/right-bg.jpg);
    background-repeat: no-repeat;
    background-position: 115.5%;
    background-size: 55% 100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: fixed;
  }
  
  .bg1 {
    position: absolute;
    background-color: #ffed00;
    background-image: url(../img/left-bg.jpg);
    background-repeat: no-repeat;
    background-position: -20% 0%;
    background-size: 60% ;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media screen and (max-device-width: 1280px){
  .bg {
    position: absolute;
    background-color: #ffed00;
    background-image: url(../img/right-bg.jpg);
    background-repeat: no-repeat;
    background-position: 132%;
    background-size: 62% 100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: fixed;
  }
  
  .bg1 {
    position: absolute;
    background-color: #ffed00;
    background-image: url(../img/left-bg.jpg);
    background-repeat: no-repeat;
    background-position: -29% 0%;
    background-size: 62% 100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
} */